aiodns==1.1.1
aiohttp==3.4.4
appnope==0.1.0
async-timeout==3.0.1
attrs==18.2.0
backcall==0.1.0
bleach==3.0.2
-e git+https://github.com/bliiir/ccat.git@669f1446772281111564ae67d76cdc5ca13e7a31#egg=ccat
ccxt==1.17.534
certifi==2018.10.15
chardet==3.0.4
cli-helpers==1.1.0
Click==7.0
configobj==5.0.6
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
docutils==0.14
entrypoints==0.2.3
humanize==0.5.1
idna==2.7
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.1
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
meld3==1.0.2
mistune==0.8.4
multidict==4.5.1
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.2
numpy==1.15.4
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pgcli==2.0.1
pgspecial==1.11.5
pickleshare==0.7.5
pkginfo==1.4.2
prometheus-client==0.4.2
prompt-toolkit==2.0.7
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
ptyprocess==0.6.0
pycares==2.3.0
Pygments==2.2.0
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
pyzmq==17.1.2
readme-renderer==24.0
requests==2.20.1
requests-toolbelt==0.8.0
Send2Trash==1.5.0
setproctitle==1.1.10
six==1.11.0
SQLAlchemy==1.2.14
sqlparse==0.2.4
supervisor==4.0.0.dev0
tabulate==0.8.2
terminado==0.8.1
terminaltables==3.1.0
testpath==0.4.2
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
twine==1.12.1
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
yarl==1.1.0
