aiodns==1.1.1
aiohttp==3.4.4
async-timeout==3.0.1
attrs==18.2.0
bleach==3.0.2
-e git+https://github.com/bliiir/ccat.git@e97726153a3c2b8b26d582d251232891c7e3e314#egg=ccat
ccxt==1.17.534
certifi==2018.10.15
chardet==3.0.4
docutils==0.14
idna==2.7
multidict==4.5.1
numpy==1.15.4
pandas==0.23.4
pkginfo==1.4.2
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pycares==2.3.0
Pygments==2.2.0
python-dateutil==2.7.5
pytz==2018.7
readme-renderer==24.0
requests==2.20.1
requests-toolbelt==0.8.0
six==1.11.0
SQLAlchemy==1.2.14
tqdm==4.28.1
twine==1.12.1
urllib3==1.24.1
webencodings==0.5.1
yarl==1.1.0
